
@media (min-width: 576px) {
    h1, a, h2, figcaption, ul{
        font-family: sans-serif;
    }
    h3, p{
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        color: floralwhite;
    }
    
    
    body {
        background-color:darkgray
    }
    
    a{
        color: purple;
    }
    
    .center{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        display: block;
       max-width: 100%;
        height: auto;
        margin:auto;
        padding: auto;
        align-items: center;
        border: solid 2px black;
    }
    figcaption{
        font-style: italic;
    }
}

@media (max-width: 575px){
    h1, a, h2, figcaption, ul{
        font-family: sans-serif;
        color:floralwhite
    }
    h3, p{
        font-family: sans-serif;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        color: floralwhite;
    }
    
    
    body {
        background-color:darkgray
    }
    
    a{
        color: purple;
    }
    
    .center{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    img{
        display: block;
        max-width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        border: solid 2px black;


    }
    figcaption{
        font-style: italic;
        max-width: 50%;
    }

    header,footer{
        margin: auto;
        padding: auto;
        letter-spacing: 1px;
        line-height: 300%;
    }
}